@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height:auto;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(159 126 242)
}
.logo {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.logo h1 {
    margin-left: 90px;
}
.header_itens {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
    margin: 50px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}
.section-one {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
}
.section-two {
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: rgb(159 126 242);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-image {
    position: relative;
    width: 510px;
    height: 490px;
    margin-left: 250px;
    top: 60px;
    background-image: url(../images/target.png);
}
.section-text {
    position: relative;
    width: 370px;
    margin-left: 250px;
    top: 70px;
    height: 300px;
}
.strand-section-one-1{
    position: absolute;
    top: -10px;
    left: 120px;
    width: 7px;
    height: 100px;
    background-color: rgb(159 126 242);
}
.strand-section-one-2{
    position: absolute;
    top: 20px;
    left: 170px;
    width: 7px;
    height: 180px;
    background-color: rgb(159 126 242);
}
.strand-section-one-3{
    position: absolute;
    top: 200px;
    left: 120px;
    width: 7px;
    height: 200px;
    background-color: rgb(159 126 242);
}
.strand-section-one-4{
    position: absolute;
    top: 300px;
    left: 170px;
    width: 7px;
    height: 300px;
    background: linear-gradient(180deg, rgba(159,126,246,1) 0%, rgba(255,255,255,1) 100%);;
}
.strand-section-two-1{
    position: absolute;
    top: 0;
    left: 170px;
    width: 7px;
    height: 40px;
    background-color: white;
}
.strand-section-two-2{
    position: absolute;
    top: 70px;
    left: 120px;
    width: 7px;
    height: 120px;
    background-color: white;
}
.strand-section-two-3{
    position: absolute;
    top: 200px;
    left: 170px;
    width: 7px;
    height: 170px;
    background-color: white;
}
.section-text h2 {
    font-size: 40px;
    font-weight: 600;
}
.section-text p {
    position: relative;
    top: 17px;
    font-size: 20px;
    padding: 3px;
}
.section-text button {
    position: relative;
    top: 40px;
    text-decoration: none;
    background-color: aliceblue;
    color: rgb(159 126 242);
    font-size: 20px;
    border: 1px 1px 1px 1px solid blue;
    padding: 10px 30px;
    cursor: pointer;
}
.section-text button:hover {
    color: aliceblue;
    background-color: rgb(159 126 242);
}
.section-two-itens {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: -50px;
    flex-direction: column;
    width: 900px;
    height: 90%;
}
.section-two-itens h2 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: -10px;
}
.section-two-itens p {
    position: relative;
    font-size: 20px;
    width: 900px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}
.map {
    position: relative;
    width: 900px;
    height: 400px;
    background-color: aliceblue;
}
.section-tree {
    position: relative;
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-four {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(159,126,246,1) 0%, rgba(255,255,255,1) 100%);
}
.section-tree-itens {
    position: relative;
    width: 1000px;
    height: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.section-tree-itens h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    margin-top: -90px;
}
.section-tree-itens p {
    position: relative;
    font-size: 20px;
    width: 900px;
    font-weight: 300;
    padding-top: 20px;
}
.ball-section-tree {
    position: absolute;
    width: 500px;
    z-index: -10;
    height: 500px;
    border-radius: 50%;
    right: -210px;
    top: -30px;
    border: 3px solid rgb(120, 120, 120);
}
.cards {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;

}
.card1 {
    position: relative;
    background-color: rgb(159 126 242);
    width: 240px;
    height: 390px;
}
.card2 {
    position: relative;
    background-color: rgb(159 126 242);
    width: 240px;
    height: 390px;
}
.card3 {
    position: relative;
    background-color: rgb(159 126 242);
    width: 240px;
    height: 390px;
}
.card4 {
    position: relative;
    background-color: rgb(159 126 242);
    width: 240px;
    height: 390px;
}
#low-opacity-text {
    padding: 15px;
    font-size: 90px;
    color: rgb(111, 94, 155);
    opacity: 0.5;
}
.card-text {
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    display: flex;
    width: 100%;
    height: 80%;
    top: -50px;
    column-count: 4;
}
.card-text h3 {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.problematic-text {
    position: relative;
    padding-left: 20px;
    display: flex;
    color: rgb(255, 255, 255);
    width: 240px;
    height: 62%;
}
.problematic-text p{
    position: relative;
    font-size: 15px;
    font-weight: 500;
}
.section-four-titleAndText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 900px;
    height: 150px;
}
.section-four-titleAndText h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
}
.section-four-titleAndText p {
    position: relative;
    font-size: 20px;
    width: 900px;
    font-weight: 300;
    padding-top: 20px;
}
.segments-01 {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}
.segments-02 {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}
.segments-1,
.segments-2,
.segments-3 {
    width: 400px;
    height: 300px;
    display: flex;
}
.segments-4,
.segments-5,
.segments-6 {
    width: 400px;
    height: 300px;
    display: flex;
}
.content {
    position: relative;
    margin-top: 70px;
    padding: 3px;
    padding-left: 6px;
}
.finestra {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(159 126 242);
}